.container-header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 8, 113, 1) 35%,
    rgba(5, 90, 170, 1) 61%,
    rgba(2, 100, 120, 1) 100%
  );
}
.wraper-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}
.text-title {
    text-decoration: none;
    font-weight: normal;
    ext-transform: uppercase
}