.moviecard-wraper {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: auto;
  scroll-snap-type: x proximity;
  max-width: 500px;
}


.item-moviecard {
  padding: 5px;
}
.item-moviecard img {
    border-radius: 10px;
}